$color-black: #141B2C;
$color-black-overlay: #020713;

$color-navy: #202A43;
$color-navy-dark: #212944;
$color-navy-darker: #27334F;

$color-green: #82C94E;
$color-gray: #CBDDF0;
$color-blue: #4788C7;
$color-carcoal: #425277;

$color-red: #CD5050;

$color-palette: (
    white: #fff,
    black: $color-black,
    navy: $color-navy,
    green: $color-green,
    gray: $color-gray,
    blue: $color-blue,
    carcoal: $color-carcoal,
    red: $color-red,
);

$breakpoints: (
    xs: 0,
    md: 768,
    lg: 1024,
);