.TaskListItem {
  align-items: center;
  background-color: $color-black;
  border-radius: .6rem;
  display: flex;
  gap: .6rem;
  margin-bottom: .75rem;
  padding: 1rem;

  .text {
    cursor: pointer;
    flex: 1;
    min-width: 0;
    margin: -.6rem 0;
    padding: .6rem 0;
  }

  .trash {
    background: transparent;
    border: transparent;
    border-radius:50%;
    cursor: pointer;
    margin: -.6rem;
    padding: .6rem;
    transition: .2s opacity ease-in-out;

    :global(img){
      height:1em;
      font-size: 1rem;
      object-fit: contain;
      object-position: center;
      width:1em;
    }

    &:hover{
      background-color: $color-navy-dark;
    }
  }

  &:not(:hover) {
    .trash {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.\--state-completed {
    .text {
      color: $color-carcoal;
      text-decoration: line-through;
    }
  }
}