.Button {
  --button-background-color: #{$color-primary-blue};

  align-items: center;
  border: 0;
  border-radius: .6rem;
  background-color: var(--button-background-color);
  color: $color-primary-gray;
  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: .7rem;
  gap: .5rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 0 var(--cta-gap-size);
  text-align: left;
  text-overflow: ellipsis;
  transition: opacity .3s ease;
  vertical-align: middle;
  white-space: nowrap;

  .text {
    flex: 1;
  }

  &.\--variant {
    &-success {
      --button-background-color: #{$color-primary-green};
    }

    &-ghost {
      --button-background-color: transparent;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: .25rem;
        padding: .5rem;
      }

      .text {
        @include media-breakpoint-down(md) {
          font-size: .4rem;
          line-height: .7rem;
        }
      }

      &:hover,
      &:global(.\--active) {
        color: #fff;

        @include media-breakpoint-up(md) {
          --button-background-color: #{$color-primary-navy-dark};
        }
      }
    }
  }

  &:is(:disabled) {
    --button-background-color: #{$color-primary-carcoal};
    cursor: not-allowed;
  }

  &:not(.\--variant-ghost):hover {
    opacity: .8;
  }
}